html,
body {
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

h1,
h2,
ul {
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  background: #2d353c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tags-wrapper {
  display: contents;
}
.title-level-1 {
  margin-bottom: 25px;
}

.title-level-2 {
  margin-bottom: 15px;
  margin-top: 25px;
}

.tags-input {
  height: 40px;
  font-size: 24px;
  padding: 0 10px;
  margin-bottom: 20px;
}

.tags-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.tags-list-item {
  height: 30px;
  display: flex;
  padding: 0 8px;
  margin: 10px;
  align-items: center;
  background: #5c656e;
  color: white;
  border-radius: 5%;
}

.tag-name {
  padding: 0 5px;
}

.remove-btn {
  color: #cedff2;
  padding-left: 8px;
  border-left: 1px solid #363d48;
  cursor: pointer;
}

.remove-btn:hover {
  color: darkred;
}

.reset-to-default-btn {
  width: 315px;
  height: 42px;
  margin-top: 25px;
  font-size: 24px;
  color: #363d48;
}
.error-message {
  color: red;
  display: none;
}

[tooltip]:before {
  position : absolute;
   content : attr(tooltip);
   opacity : 0;
   left: 10px;
   width: 250px;
}
[tooltip]:hover:before {
  opacity : 1;
}
[tooltip]:not([tooltip-persistent]):before {
  pointer-events: none;
}
.simple-input-title-wrapper {
  position: relative;
}
.asterisk {
  position: absolute;
  color: palegreen;
  top:25px;
  right: -10px;
  cursor: pointer;
}

.input-wrapper {
  position: relative;
}

.clear-btn {
  position: absolute;
  top: 9px;
  right: 10px;
  font-size: 25px;
  color: slategray;
  cursor: pointer;
}

.clear-btn:hover {
  font-size: 27px;
  top: 8px;
}

