html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

h1, h2, ul {
    margin: 0;
    padding: 0;
}

input:focus {
    outline: none;
}

#app {
    min-height: 100%;
    background: #2d353c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

.title-level-1 {
    margin-bottom: 24px;
    text-shadow: 0 8px 16pt rgba(0, 0, 0, 0.5);
}

.title-level-2 {
    margin-bottom: 14px;
    text-shadow: 0 8px 16pt rgba(0, 0, 0, 0.5);
}

.tags-input {
    height: 40px;
    font-size: 24px;
    padding: 0 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16pt rgba(0, 0, 0, 0.5);
}

.tags-list {
    /* width: 90%; */
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.tags-list-item {
    height: 30px;
    display: flex;
    padding: 0 8px;
    margin: 10px;
    align-items: center;
    background: #5c656e;
    color: white;
    border-radius: 4px;
    box-shadow: 0 8px 16pt rgba(0, 0, 0, 0.5);
}

.tag-name {
    padding: 0 8px;
}

.remove-btn {
    color: #cedff2;
    padding-left: 8px;
    border-left: 1px solid #2d353c;
    cursor: pointer;
}

.popup-container {
    position: relative;
}

.popup {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    font-size: 24px;
    padding: 8px 0;
    background-color: #535b63;
    color: white;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    box-shadow: 0 8px 16pt rgba(0, 0, 0, 0.432);
    transition: visibility 0s 0.6s, opacity 0.6s ease-in-out;
}

.popup.show {
    visibility: visible;
    transition: opacity 0.6s ease-in-out;
    opacity: 1;
}